@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #abecd625;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    transition: all 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
